* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    max-width: 1680px;
    margin: 0 auto;
    padding: 0 2rem;
}

body {
    width: 100%;
    min-height: 100vh;
    overflow-x: hidden;
    background-color: #111;
}

.home-container {
    padding: 3rem 2rem 3rem 2rem;
    background-color: #111;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    position: relative;
    overflow-x: hidden;
    color: white;
    font-family: 'Arial', sans-serif;
}

.home-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    max-width: 1200px;
    z-index: 2;
    position: relative;
    min-height: 90vh;
    padding: 2rem;
}

.text-section {
    flex: 1;
    padding-right: 20px;
}

.text-section h3 {
    background: linear-gradient(to right, #ff3a30, #ff9409);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 3rem;
    font-weight: 800;
    margin-bottom: 0;
    line-height: 1;
}

.text-section h1 {
    font-size: 4rem;
    font-weight: 900;
    color: white;
    margin-top: 5px;
    line-height: 1;
    text-transform: uppercase;
}

.usp-section {
    margin-top: 4rem;
}

.usp-list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.usp-list li {
    display: flex;
    align-items: center;
    line-height: 3;
    gap: 20px;
    margin-bottom: 1rem;
    font-size: 1.1rem;
    color: rgb(128, 128, 128);
    font-weight: 500;
}

.usp-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 30px;
}

.image-section {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    position: relative;
}

.cricketer-img {
    max-width: 100%;
    height: auto;
    filter: drop-shadow(0 10px 20px rgba(0, 0, 0, 0.5));
    object-fit: contain;
    display: block;
}

/* Background Watermark */
.branded-text-bg {
    position: absolute;
    top: 10%;
    left: 46%;
    transform: translate(-50%, -50%);
    font-size: 6vw;
    font-weight: 900;
    color: rgba(255, 255, 255, 0.062);
    z-index: 1;
    white-space: nowrap;
    -webkit-user-select: none;
    user-select: none;
    pointer-events: none;
}